// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.carousel-caption {
  padding-bottom:120px;
  right:15%;
  left:15%;

  h1 {
    position: absolute;
    // bottom: 290px;
    // font-size: 38px;
    width: 100%;
    text-align:center;
  }
}
  ul.feature-links {
    list-style: none;
    text-align: left;
    font-size: 24px;
    line-height: 60px;
 } 

.gal-row {
	margin-top:20px;
}
.gal-item {
	margin-bottom:20px;
  p {
    font-family:$IntroSemiBold;
  }
	.yellow-bg {
		color:#000; 
		display: table;
    	min-height: 100%;
		width: 	100%;
		font-weight:600;

		> div {
			   display: table-cell;
			   vertical-align: middle;
			   padding:10px;
		}
	}
}

a.gal-img-link  { 
	overflow:hidden;
	width: 100%;
    height: 100%;
    display: inline-block;
	span.play-icon {
	  position:absolute;
	  left: 0;
	  top: 0;
	  right: 0;
	  filter:alpha(opacity=50);
	  -moz-opacity:0.5;
	  -khtml-opacity: 0.5;
	  opacity: 0.5;
	  transition: opacity 0.5s;
	  -webkit-transition: opacity .25s ease-in-out;
  	  height:100%;
	  img {
	  	top:20px;
	  	position:relative;
	  }
}
img.gal-img {
	  opacity: 0.5;
}
}

a.gal-img-link:hover {   
 span.play-icon {
	opacity: 1;
}
img.gal-img {
opacity: 0.8;
}
}
.yellow-bg {
background-color:#fcd800;
max-height:100%;
}

