@charset 'UTF-8';

// 1. Configuration and helpers
// /compass-sass-mixins/lib/compass
@import "../../../bower_components/compass-sass-mixins/lib/compass";
@import "../../../bower_components/compass-sass-mixins/lib/compass/css3";
@import "../../../bower_components/compass-sass-mixins/lib/compass/css3/user-interface";
@import "../../../bower_components/compass-sass-mixins/lib/compass/css3/transition";

@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize';

@import "../../../bower_components/animatewithsass/animate.scss";  

// 3. Base stuff
@import
  'base/base', 
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button',
  'components/search',
  'components/mini-search';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';
 