.mini-cse-search {
  position: relative;
  margin-top: 10px;
  width: 0%;
  min-width: 60px;
  height: 60px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden; }
  .mini-cse-search #label {
    color: #fff;
    background: #e67e22;
    z-index: 90;
    font-size: 64px;
    position: relative; }
  .mini-cse-search #label label, .mini-cse-search .gsc-search-button input {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer; }
  .mini-cse-search .gsc-search-button {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 1;
    margin: 0;
    margin-left: 0 !important; }
  .mini-cse-search td.gsc-input input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    height: 60px;
    margin: 0;
    width: 100%;
    z-index: -1;
    padding: 10px;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50; }
  .mini-cse-search td.gsc-input.focus input {
    background: #da6d0d;
    color: #333;
    z-index: 11;
    width: 100%;
    padding: 0; }
  .mini-cse-search td.gsc-input.focus input {
    outline: none;
    left: 0px;
    transition: left 0.3s ease;
    width: 100%; }
  .mini-cse-search #searchForm {
    z-index: -1;
    position: relative; }

.mini-cse-search.search-open {
  width: 40%; }
  .mini-cse-search.search-open #searchForm {
    z-index: 10; }
  .mini-cse-search.search-open .gsc-search-button {
    z-index: 11; }
  .mini-cse-search.search-open #label {
    z-index: 1; }

#global-mini-nav .mini-quick-links {
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
  letter-spacing: normal;
  display: none;
  background: #fff;
  border-top: none;
  color: #999;
  max-height: calc(100% - 44px);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap; }
