// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
    width: 100%;
    height: 100%;

}
body {
    font-family: $text-font-stack;
    background-color: #ededed;
    width: 100%;
    height: 100%;

}
.container.mini-nav, section#intro .container, .header .container {
      padding-right: 0;
    padding-left: 0;
}


.mini-nav  {
// display:none;
  .navbar { 

    @media (min-width: 767px) {
    position: relative;
    padding: .5rem 1rem;
    }
  }
}

.iw_component {
  display: block;
  float: none;

}

@include breakpoint(large_mobile) {
.sticky-menu-active #c1400197297169 {
  display:inline;
}
}

@include breakpoint(narrow) {
  #element1 {
    overflow: hidden;
  }

  .container {
    width: auto;
  }
} 
.primary,
.secondary {
  @include box-shadow(0 0 4px rgba(50,50,50,.25));
  margin: 0 auto;
  padding: 0;
}

.primary {
  background: $white;
}
.secondary {
  background: $secondary;
}
/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
} 
.sg-type-chart {
	background-color:transparent;
}
/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}
input {
  color:#333;
}

img {
  max-width:100%;
  // width:100%;
  height:auto;
}

.dropdown ul {
  font-size:12px;
}
ul {
  font-size: 14px;
  line-height: 20px;
  &.list {

    li {
      margin-bottom: 13px;
    }

    i {
      color: #ccc;
      margin-right: 5px;
    }

    &.pull-left {

      li {
        text-align: left;
      }
    }
  }

  &.tall {
    margin-bottom: 20px;
  }

  &.taller {
    margin-bottom: 40px;
  }

  &.icon-ul {
    list-style-type: none;
    margin-left: 1.7em;
    padding-left: 0;

    a.icon-li {
      left: -2.142857142857143em;
      position: absolute;
      text-align: center;
      top: 0.14285714285714285em;
      width: 2.142857142857143em;
    }
  }
}


/// google search 
div#searchResults.gcse-results-wrapper {
  padding:0 160px;
  .gsc-above-wrapper-area  {
    // display:none;
    .gsc-orderby-container {
      display:none;
    }
  }
  .gsc-control-cse .gsc-table-result {
     font-family: $text-font-stack;
}
  .gs-title {
        margin-bottom: 5px;
  }
 .gs-title a,   .gs-title b {
  color:$text-blue;
  font-size: 1.3rem !important;
    line-height: 28px;
}
.gs-webResult .gs-snippet {
  font-size:16px;
  line-height: 24px;
}
.gsc-thumbnail {
  display:none;
}
.gsc-url-bottom {
.gs-visibleUrl {
color:$text-blue;
font-family:$IntroLight;
}  
}
}